snaccconfig.h
Makefile
asn1specs/Makefile
c++-lib/Makefile
c++-lib/c++/
c++-lib/inc/Makefile
c++-lib/src/Makefile
c++-lib/tcl/
c-lib/Cebuf/
c-lib/Makefile
c-lib/ebuf/
c-lib/inc/Makefile
c-lib/mbuf/
c-lib/sbuf/
c-lib/tbl/
compiler/Makefile
compiler/back-ends/Makefile
compiler/back-ends/c++-gen/Makefile
compiler/back-ends/c-gen/Makefile
compiler/back-ends/idl-gen/Makefile
compiler/core/Makefile
config.cache
config.h
config.log
config.status
doc/Makefile
libtool
snacc-config
tbl-tools/Makefile
tbl-tools/berdecode/Makefile
tbl-tools/mkchdr/Makefile
tbl-tools/ptbl/Makefile
tbl-tools/pval/Makefile
